<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload'%>

<div class="containter">
  <div class="row">
    <div class="col-12">
      <h1 class=text-center mt-4>To Do List</h1>
        <div class="row d-flex justify-content-center" id="tasks"></div>
          <div class="d-flex justify-content-center pt-4">
            <form id="create-task">
                <input id="new-task-content" type="text" placeholder="new task" required/>
                <button>Create</button>
              </form>
          </div>
      </div>
  </div>
</div>
