@import "bootstrap";

body {
  background-color: #23395d;
}

h1 {
  color: #fff;
}

#tasks{
  margin-right: 100px;
  margin-left: 100px;
}

.green{
  background-color: #C1E1C1 !important;
  .complete {
  	display: none;
  }
}

.activetask {
  .activate {
    display: none;
  }
}

.panel-info {
  background-color: #fff;

}
